header {
    background-color: #222;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    margin-top: 15rem;
    font-size: 60px;
    display: flex;
    justify-content: center;
}

h2{
    font-size: 40px;
    margin: 50px auto;
    color: aqua;
}

h3{
    font-size: 25px;
}

.list{
    font-size:21px ;
    margin: 10px 60px;
}

p{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo img {
    max-height: 50px; /* Adjust as needed */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

#about-us {
    padding: 20px;
    margin: 0 90px;
}

.vision, .mission, .who-are-we, .our-work  {
    margin-bottom: 20px;
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
}

#Subdomains,#technical-team ,{
    width: 87%;
    margin: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
}

#Subdomains {
    display: flex; 
    flex-direction: column; 
    align-items: center;
    width: 100%;
   
}

.robot-images {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 70%;
}

.robot-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.robot-image {
    background-color: rgb(34, 34, 34);
    position: relative;
    width: 400px;
    height: 250px;
    overflow: hidden;
    
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.robot-image:hover {
    transform: scale(1.05);
}

.robot-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.card-title {
    text-align: center;
    margin-top: 1rem; /* Add some space between the card and the title */
    font-weight: bold;
    color: aqua;
}

.description-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    font-size: 24px;
    opacity: 0;
    transition: opacity 0.3s ease;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.robot-image:hover .description-box {
    opacity: 1;
}

.robot-image:hover img {
    opacity: 0.2;
}

#team h2, #technical-team h2, #non-technical-team h2 {
    text-align: center;
    margin-bottom: 20px;
}

.team-members {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.team-member {
    text-align: center;
    width: 200px;
    margin: 60px 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.para{
    font-size: 25px;
    color: aqua;
    margin-top: 10px;
}

.team-member img {
    width: 250px ;
    height: 250px ;  
    border-radius: 50%;
    object-fit: cover; /* Prevents image distortion */
    background-color: #151515; /* Placeholder background */
    margin: 20px 0;
}

.team-member h3 {
    margin-top: 10px;
    
}


.same{
    color: white;
}



/* Basic Mobile Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }
    nav li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .team-members {
        flex-direction: column;
        align-items: center;
    }

   #Subdomains{
    flex-direction: column;
}
.robot-images{
    flex-direction: column;
}
/* .robot-image-container{
    width: 80%;
} */
.robot-image{
    width: 100%;
    text-align: center;
    border-radius: 15px;
}
.card-title{
    font-size: 1.2rem;
}
.description-box{
    font-size: 1.2rem;
}

}


@media (max-width: 480px) {

    h1{
        margin-top: 5rem ;
    }
    h1 span {
        font-size: 2.5rem;
    }

#about-us{
    margin: 10px 5px;
}

.vision, .mission, .who-are-we, .our-work {
    text-align: center;
}
h2{
   font-size: 2rem ;
}
p{
    font-size: 1.5rem;
}

.list{
    text-align: left;
    width: 80%;
    margin: 0px 20px;
}

.list li{
    margin: 10px;
}

.team-member{
    margin: 20px auto;
}
.team-member img {
    width: 220px;
    height: 220px;
}

#team h2, #technical-team h2, #non-technical-team h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.2rem;
}
#Subdomains{
    flex-direction: column;
}
.robot-images{
    flex-direction: column;
}
/* .robot-image-container{
    width: 80%;
} */
.robot-image{
    width: 100%;
    text-align: center;
    border-radius: 15px;
}
.card-title{
    font-size: 1.2rem;
}
.description-box{
    font-size: 1.2rem;
}

footer{
    background-color: black;
}

.copyright p{
    font-size: 1rem;
}
}