@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
    color:white;
    margin: 0px;
    padding: 0px;
}
.top-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
    height: 120px;
    padding: 2rem 0rem;
    position: fixed;
    top: 0px;
    z-index: 1000;
}
.navbar{
    box-sizing: border-box;
    padding: 0rem 1.7rem;
    height: auto;
    width: 90%;
    background-color: rgba(23, 23, 23);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    position: fixed;
    top: 22px;
    z-index: 1000;
    border-radius: 60px;
}
.header-left{
display: flex;
column-gap: 1rem;
align-items: center;

}
.header-left img {
    width: 161px;
    height: 125px;
}
/* Nav-Bar styling */
.header-right{
    display: flex;
    column-gap: 2rem;
    align-items: center;
  }
  .dropdown{
    display: none;
    width: 250px;
    background-color: rgba(23, 23, 23);
    border-radius: 20px;
    height: auto;
  position: absolute;
  top: 91px;
  right: 54px;
  box-shadow: -6px 10px 20px 2px black;
  }
 .dropdown > div  {
    padding: 1rem;
    text-align: center;
  }
  .dropdown a{
    font-size: 1.2rem;
  }
  /* more button */
  .more-btn {
    display: flex;
    align-items: center;
  }
  .more-btn button{
    background-color: rgba(23, 23, 23);
    border:none;
    color: white;
    font-size: 1.5rem;
    display: flex;
    gap: 4px;
    align-items: center;
    
  }
  .more-btn img{
    width: 25px;
    height: auto;
  }

  .box:hover , .btn-box:hover , .more-btn:hover{
    transform: scale(1.1);
    transition: all 0.1s ease;

  }

 a {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
} 
a:hover{
    color: aqua;
}
.btn-box button{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0.7rem;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}
.btn-box button:hover {
    background-color: aqua;
    color: black;
}

.hidden-header-right{
    display: none;
}

 .menu-icon img{
    width: 40px;
    height: 40px;
}
 .menu-icon:hover{
    border: 1px solid aqua;
    border-radius: 10px;
    transform: scale(1.15);
    transition: all 0.3s;
}

.exit-btn{
    margin: 1rem;
}
.exit-btn:hover{
   transform: scaleY(1.15);
   transition: all 0.3s;
    
}
.exit img{
    width: 30px;
    height: 30px;
}
.hidden-menu{
display: none;
    width: 20%;
    background-color: rgb(0, 0, 0);
   background: blur(8px);
   border-left: 1px solid aqua;
   border-bottom: 1px solid aqua;
   border-radius: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1000;
    transition: all 2s ease-out;
}

.hidden-menu ul{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style-type: none;
}
.menu-item{
    color:aqua;
    opacity: 1;
    padding: 1rem;
    font-size: 1em;
    font-weight: bold;
}
.menu-item:hover{
   /* background-color: aqua; */
    border-bottom: 2px solid aqua;
   border-radius: 2rem;
   transform: scale(1.05);
   color: white;
   transition: all 0.3s ease-out;
} 
.menu-item:hover a{
    color: white;
 }

.image-slider{
   margin-top: 11rem;
   margin-left: auto;
   margin-right: auto;
    padding: 2rem;
    background-color: rgb(40, 40, 40);
    width: 60%;
   border-radius: 12px ;
   text-align: center;
}
.heading{
    margin: 1rem auto;
    padding: 1rem;
    width: 70%;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
}
.heading h2{
    display: flex;
    flex-direction: row;
    column-width: 100%;
   column-gap: 5px;
   justify-content: center;
   font-size:xx-large;
   font-weight: bold;
   color: aqua;
}
.heading h1{
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    justify-content: center ;
    align-items: center;
    font-size: 3rem;
    font-family: "Source Code Pro", serif;
    font-weight: 500;
    font-style: normal;
}
 .TAGLINE-white{
    color: white;
    text-align: left;
    /* position: absolute;
    left: 282px;
    top: 283px; */
} 

.TAGLINE-aqua{
color: aqua;
display: inline-block;
 /* Ensure the text behaves like a block for animations */
transition: opacity 0.5s ease, transform 0.5s ease; /* Smooth transition */
opacity: 1;
/* position: absolute;
    left: 709px;
    top: 283px; */
}

.TAGLINE-aqua.fade-out {
    opacity: 0;
    transform: translateY(-10px); /* Move text slightly upwards while fading out */
  }

  .TAGLINE-aqua.fade-in {
    opacity: 1;
    transform: translateY(0); /* Reset position */
  }
  .intro{
    font-size: 1.5rem;  
  }
.intropara{
    padding: 1rem 3rem;
    font-size: 1.4rem;
    font-style: normal;
}
.at-glance{
    width: 100%;
    margin: auto;
}
.at-glance h3{
    margin: auto;
    text-align: center;
    color: aqua;
    font-size: 2rem;
   
}
.stat{
    width: 55%;
    height: auto;
    display: grid;
   grid-template-columns: repeat(3 , 1fr);
   grid-template-rows: repeat(2 , 1fr);
   gap: 3rem;
  margin: 2rem auto;
 
}
.stat-item{
    justify-items: center;
    background-color: rgb(26, 26, 26);
    align-items: center;
    padding: 2rem 0rem;
    box-sizing: border-box;
    border-radius: 24px ;
    
}
.stat-item:hover{
    /* border: 1px solid aqua; */
    /* box-shadow: 8px 7px 8px 0px aqua; */
    transform: scale(1.15);
    transition: all 0.5s ease-out;
}
.stats-number{
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
    color: aqua;
}
.stat-details{
    font-size: 1.3rem;
}

/* WHO WE ARE  */
.header1 {
    margin: 1rem auto;
    padding: 1rem;
}
.header1 h1{
    margin: 2.2rem auto;
    width: 80%;
    display: flex;
    column-gap: 0.8rem;
  justify-content: center;
    font-size: 2.5rem;
}
.white{
    color: white;
}
.aqua{
    color:aqua;
}
.content-1{
margin-top: 0rem;
margin-bottom: 0rem;
margin-left: 4rem;
margin-right: 0rem;
    display: flex;
    flex-direction: column;
    width: 90%;
}
.boxes-A{
    margin: 1rem;
    height: 200px;
     display: grid;
     grid-template-columns: repeat(2 , 1fr);
     gap: 2rem;
}
.boxes-A p {
    font-size: 1.4rem;
    text-align: center;
}
.boxes-A .para p{
    box-sizing: content-box;
    word-wrap: break-word;
    text-align: center  ;
    align-self: center;
    font-size: 1.4rem;
    
}
.para h3{
    display: flex;
    column-gap: 0.5rem;
    justify-content: center;
    font-size: 1.6rem;
}
.para p{
    text-align: center;
    font-size: 1.5rem;
}

.image{
display: flex;
justify-content: center;


}
.image img{
    width: 282px;
    height: 222px;
    justify-self: center;
    position:relative;
 right:0%;
 
}

/* latest updates */
.latest-updates{
    text-align: center;
}
.updates-container{
    margin: auto;
    padding: 1rem;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* IN WE TRUST SLIDER */


.slider-container {
  width: 80%;
  overflow: hidden; /* Hide overflowing logos */
  background-color: #000000;
  padding: 20px 0;
  margin: 2rem auto;
}

.logo-slider {
    width: 72%;
  display: flex;
  transition: transform 0.5s ease-in-out; /* Smooth sliding */
  gap: 20px; /* Space between logos */
  align-items: center;
}

.logo {
  flex: 0 0 25%; /* Each logo takes 25% of the container width (4 logos per slide) */
  text-align: center;
}

.logo img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}


/* footer */
.footer-container{
    
    max-width: 100%;
    padding: 2rem;
   display: grid;
   grid-template-columns: 1.5fr 0.75fr 0.75fr 1fr;
   gap: 1rem;
   justify-content: center;
   justify-items: center;
   border-top: 1px solid aqua;
}
.about-stes{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.about-stes  p {
    text-align: left;
    font-size: 1.3rem;
}

.about-stes img{
    width: 240px;
    height: auto;
}
.footer-menu{
    display: flex;
    flex-direction: column;
 justify-content: space-between;
 
}
.footer-menu h3 {
    width: 80%;
    border-bottom: 2px solid aqua;
    font-size: 1.5rem;
}
.footer-menu-items a{
    font-size: 1.2rem;
}
.footer-menu-items:hover{
border-bottom: 1px solid aqua;
transition: border-bottom 0.2s ease-out ;

}
.footer-policies{
    display: flex;
    flex-direction:column ;
    row-gap: 2rem;
}
.footer-policies h3{
    width: 90%;
    border-bottom: 2px solid aqua;
    font-size: 1.5rem;

}
.footer-policies-items{
    font-size: 1.2rem;
}
.footer-policies-items:hover {
    border-bottom: 1px solid aqua;

transition: border-bottom 0.2s ease-out ;
}

.robo-safar{
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
   justify-content: space-between;
    align-items: center;
}
.robo-safar-img img{
    width: 240px;
    height: 200px;
}
.join-us-btn button {
    padding: 0.5rem 4rem;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 20px ;
    font-size: 1.7rem;
    font-weight: bold;
}
.socials{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: space-between;
}
.copyright{
    text-align: left;
    font-size: smaller;
    align-self: baseline;
    align-items: first baseline;
}

